<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">


<body class="">

<div class="container main">

	<hr>
	
	<h4>Editar Propietario en Edificio: ${edificio}</h4>
	

	<hr>
	<div class="row ">

		<form action="/editarPropietario" method="POST" class="form-horizontal" id="formPropietarioNew">

		<div class="col-xs-12 col-md-6 sectorTablas">
		<!-- DATOS DE LA PERSONA -->
				<div class="form-group">
					<label class="control-label col-sm-4">Nombre:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${nombre}" name="nomNP" id="nomNP">
						<label class="mensajeAlerta" id="llenarNom"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Apellido:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${apellido}" name="apeNP" id="apeNP">
						<label class="mensajeAlerta" id="llenarApe"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Documento:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${documento}" name="docNP" id="docNP" onkeypress="return valida(event)">
						<label class="mensajeAlerta" id="llenarDoc"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Dirección:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${direccion}" name="direNP" id="direNP">
						<label class="mensajeAlerta" id="llenarDir"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Teléfono:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${telefono}" name="telNP" id="telNP">
						<label class="mensajeAlerta" id="llenarTel"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Email:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${email}" name="emaNP" id="emaNP">
						<label class="mensajeAlerta" id="llenarEma"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>

		</div>

		<div class="col-xs-12 col-md-6 sectorTablas">
		<!-- DATOS DEL EDIFICIO -->

				<div class="form-group">
					<label class="control-label col-sm-4">Número Departamento:</label>
					<div class="col-sm-6">
						<input type="text" value="${numDto}" class="form-control" name="numNP" id="numNP" readonly>
						<label class="mensajeAlerta" id="llenarNum"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Unidad:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${unidad}" name="uniNP" id="uniNP" readonly>
						<label class="mensajeAlerta" id="llenarUni"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Nombre Inquilino:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${inqui}" name="inqNP" id="inqNP">
						<label class="mensajeAlerta" id="llenarInq"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">

					<label class="control-label col-sm-4">Expensas %:</label>
					<div class="col-sm-6">
					<input type="text" class="form-control" value="${expensas}" name="expNP" id="expNP" onkeypress="return valida(event)" readonly>
					
						<label class="mensajeAlerta" id="llenarExp"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Expensas Extra %:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" value="${expExtra}" name="expExtNP" id="expExtNP" onkeypress="return valida(event)" readonly>
						<label class="mensajeAlerta" id="llenarExpExt"></label>
					</div>
					<div class="col-sm-2"></div>
				</div>

		</div>



				<div class="form-group">
					<label class="control-label col-sm-2"></label>
					<div class="col-sm-offset-2 col-sm-4">
						<input type="text" value="${edificio}" name="ediNP" id="ediNP" hidden="true">
						<input type="hidden" value="${id}" name="id" id="id">
						<button type="submit" class="btn btn-warning">Modificar</button><br><br>
					</div>
				</div>

		</div>
		</form>
		<form action="/propietarios" method="POST"><button type="submit" class="form-control btn btn-danger">Cancelar</button><br><br></form>

	</div>

</div>

<script>
function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
    
    if (tecla==0) return true;

    // Patron de entrada, en este caso solo acepta numeros
    //patron =/[0-9]/; // DE O A 9
    patron =/[0-9-.-9]/; // DE 0 A 9 con PUNTO
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
}
</script>


</body>

</@layout.myLayout>
