<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">


<body class="">



<div class="container-fluid cuerpo main" style="height: 720px;"> <!-- style="height: 720px;" -->

	<div class="row main text-center">

		<h1 class="hidden-xs hidden-sm">¡BIENVENIDO! <small>Administración San Luis & Asoc.</small></h1>
		<h3 class="hidden-md hidden-lg">¡BIENVENIDO! <small>Administración San Luis & Asoc.</small></h3>
		<img class="img-responsive img-thumbnail" src="/assets/images/negocios.jpg">

	</div>

</div>


</body>

</@layout.myLayout>
